{#
/**
 * @file
 * 
 * Available variables:
 * - rows: array slider elements.
 *
 * @ingroup themeable
 */
#}

<div class="slider">
<ul class="bxslider" id="slider-{{id}}">
{% for item in rows %}

<li><img src="{{item.img}}" title="{{ item.title }}" /></li>

{% endfor %}
</ul>
</div>